*.exe
*.dll
*.pdb
*.cache
*.il
*.exp
*.lib
*.log
*.FileListAbsolute.txt

*.postsharp
PostSharp/

[Bb]in/
[Oo]bj/

*.user
*.ncb
*.sdf
*.opensdf
*.suo
ipch/
[Dd]ebug/
[Rr]elease/

*.scc
*.vssscc
*.vspscc
.localhistory/
.svn/

*~

deploy/

[Tt]est[Rr]esult.xml
IntegrationTests.VisualState.xml

UpgradeLog.XML
_UpgradeReport_Files/

Thumbs.db


*.ReSharper.user
EDoc2.AdImport/_ReSharper.EDoc2.AdImport/*
EDoc2.MetaImport/_ReSharper.EDoc2.MetaImport/*
EDoc2.WindowServices.AdOcSysn/_ReSharper.EDoc2.WindowServices.AdOcSync/*
EDoc2.FileExport/_ReSharper.FileExport/*
_ReSharper.EDoc2/*

EDoc2.FileExport/_ReSharper.FileExport/*
EDoc2.DomainSyncTool/_ReSharper.EDoc2.DomainSyncTool/*
EDoc2.DomainSyncTool/EDoc2.SyncToolSetup/SyncTool.exe
EDoc2.ECMToolSystem/_ReSharper.EDoc2.ECMToolSystem/*
EDoc2.FileGatherer/_ReSharper.EDoc2.FileGatherer/*
EDoc2.Import/_ReSharper.EDoc2.Import/*
EDoc2.DirectoryTool/_ReSharper.EDoc2.DirectoryTool/*
Edoc2.MFPCapture/_ReSharper.Edoc2.MFPCapture/*

EDoc2.FileGatherer/TestResults/*
EDoc2.FileGatherer/FileGathererTest/*

